html,body{
  height: 100%;
  margin: 0;
}
body {
  padding: 0;
}
a:hover{
  text-decoration: none;
}
header{
  /*border: solid 1px red;*/
  height: 70px;
  background-color: rgb(54, 112,210);
  padding: 10px;
  overflow: hidden;
}
header>img{
  width: 200px;
}
header>div{
  width: 200px;
  height: 100%;
  /*border: solid 1px yellow;*/
  float: right;
}
header .admin{
  /*border: solid 1px red;*/
  width: 154px;
  height: 100%;
  float: left;
  color: white;
}
header .pic{
  border: solid 1px black;
  width: 46px;
  height: 100%;
  float: left;
}
.admin>div{
  height: 50%;
}
.admin>div:nth-child(1){
  /*border: solid 1px red; */
}
.admin>div:nth-child(2){
  /*border: solid 1px green;*/
}
.pic>img{
  width: 100%;
  height: 100%;
}
.lan>span:nth-child(2){
  color: rgb(21, 214, 214);
}
.lan+div{
  float: right;
}
.nav-pills{
  /*border: solid 1px red;*/
  padding-left: 200px;
  background-color: rgb(4, 36, 58);
  color: white;
  height: 40px;
  overflow: hidden;
}
.nav-pills a{
  color: white;
}
.nav-pills > li.active > a{
  color: black;
  background-color: rgb(198,198,198);
}
.nav-pills > li > a {
     border-radius: 0; 
}
.gridManager{
  /*border: solid 1px red;*/
  /*height: 700px;*/
}
.gridManager>div:nth-child(1){
  float: left;
  width: 200px;
  height: 100%;
  /*border: solid 1px blue;*/
  background-color: rgb(54, 112,210);
}
.gridManager>div:nth-child(2){
  float: left;
  /*width: auto;*/
  height: 100%;
  border: solid 1px blue;
}
.gridleft{
  border: solid 1px rgb(54, 112,210);
  height: 100%;
  background-color: rgb(54, 112,210);
  color: white;
}
.gridleft>h3{
  height: 50px;
  font-size: 14px;
  /*border: solid 1px red;*/
  text-align: center;
  margin-bottom: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(54, 112,210);
}
.fenkai{
  /*border: solid 1px gold;*/
  height: calc(100% - 70px)
}
.fwxq{
  /*border: solid 1px black;*/
  float: left;
  height: 100%;
  width: 70px;
}
.xqcs{
  /*border: solid 1px black;*/
  float: left;
  height: 100%;
  width: 128px;
  background-color: rgb(30, 80, 174);
}
.fwxq>div{
  height: 70px;
  /*border: solid 1px red;*/
  color: white;
}
.fwxq>div.act{
  background-color: white;
  color: rgb(30, 80, 174);
}
.tubiao{
  height: 40px;
  /*border: solid 1px green;*/
  text-align: center;
  padding-top: 10px;
}
.wenzi{
  height: 30px;
  /*border: solid 1px green;*/
  text-align: center;
  font-size: 16px;
}
.tubiao>img{
  width: 25px;
}
.fwxq>div:hover{
  background-color: white;
  color: rgb(30, 80, 174);
}
.s-xqxx{
  /*border: solid 1px gold;*/
  height: 100%;
}
.s-xqxx>div{
  /*border-bottom: solid 1px linear-gradient(to right, rgb(54, 112,210) , white, rgb(54, 112,210));
  border-image: linear-gradient(to right, rgb(54, 112,210) , white, rgb(54, 112,210));*/
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
}
.s-xqxx>div:after{
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  border: solid 1px white;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
}
.s-xqxx>div:hover{
  color: black;
  background-color: rgb(198,198,198);
}
.acti{
  background-color: rgb(198,198,198);
  color: black;
}
.s-xqxx>div.acti:after {
  display: none;
}
/*.s-xqxx>div:after:hover {
  display: none;
}*/
.s-xqcs{
  /*border: solid 1px red;*/
  height: 100%;
  background-color: rgb(245, 242, 242);
}
.map{
  height: 30px;
  /*border: solid 1px red;*/
  padding: 5px;
  background-color: white;
}
.map>img{
  width: 15px;
}
.bluebar{
  height: 30px;
  /*border: solid 1px red;*/
  background-color: rgb(30, 80, 174);
  padding: 4px 20px;
  color: white;
}
.detail{
  padding: 10px 50px 0 20px;
  border: solid 1px red;
  overflow-y: scroll;
}
.pageb{
  border: solid 1px red;
  height: 30px;
}
/*.pagec{
  margin: 0;
  height: 100%;
  overflow: hidden;
}*/
.yema{
  border: solid 1px blue;
  width: 70%; 
  float: left;
  height: 100%;
}
.total{
  border: solid 1px blue;
  width: 30%; 
  float: left;
  height: 100%;
}