<div class="s-xqxx">
    <div class="acti" ui-sref="jcsj.fwxx.xqcs">◎ 小区村社</div>
    <div ui-sref="jcsj.fwxx.ldxx">◎ 楼栋信息</div>
    <div ui-sref="jcsj.fwxx.fwxx2">◎ 房屋信息</div>
    <div ui-sref="jcsj.fwxx.dwxx">◎ 单位信息</div>
    <div ui-sref="jcsj.fwxx.mdxx">◎ 门店信息</div>
    <div ui-sref="jcsj.fwxx.xxxx">◎ 学校信息</div>
    <div ui-sref="jcsj.fwxx.yyxx">◎ 医院信息</div>
    <div ui-sref="jcsj.fwxx.tshy">◎ 特殊行业</div>
</div>
<script>
    $('.s-xqxx>div').click(function(){
        $(this).addClass('acti').siblings('div').removeClass('acti')
    })
</script>