<div class="gridManager">
    <div ui-view="left"></div>
    <div ui-view="right"></div>
</div>
<script>
    window.onresize = function(){
        // console.log(34)
        reSize()
    }
    reSize()
    function reSize(){
        console.log('re')
        $('.gridManager').outerHeight((window.innerHeight - 110) + 'px')
        $('.gridManager').outerWidth(window.innerWidth)
        $('.gridManager>div:eq(1)').outerWidth((window.innerWidth - 200) + 'px')
        $('.gridManager>div:eq(1)').outerHeight((window.innerHeight - 110) + 'px')
    }
</script>