<div class="s-xqcs">
    <div class="map">
        <img src="images/icon8.png" alt="">
        <span>首页</span> >
        <span>基础数据</span> >
        <span>房屋信息</span> >
        <span>小区村社</span>
    </div>
    <div class="detail">
        <div class="bluebar">
        信息搜索
        <img class="shou" src="images/icon31.png" alt="">
        </div>
        <form action="">
            <div class="container-fluid biaoge">
                <div class="row">
                    <div class="col-md-4 zhongyuan">
                        <select name="" id="">
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                        </select>
                        <label>区域: </label>
                    </div>
                    <div class="col-md-4 zhongyuan">
                        <select name="" id="">
                            <option>碧沙岗社区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                        </select>
                        <label>社区: </label>
                    </div>
                    <div class="col-md-4 zhongyuan">
                        <select name="" id="">
                            <option>网格一</option>
                            <option>二七区</option>
                            <option>金水区</option>
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                        </select>
                        <label>网格: </label>
                    </div>
                    <div class="col-md-4 zhongyuan">
                        <select name="" id="">
                            <option>碧沙岗家属院</option>
                            <option>二七区</option>
                            <option>金水区</option>
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                        </select>
                        <label>小区/社名称: </label>
                    </div>
                    <div class="col-md-4 zhongyuan">
                        <select name="" id="">
                            <option>全封闭</option>
                            <option>二七区</option>
                            <option>金水区</option>
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                        </select>
                        <label>封闭情况: </label>
                    </div>
                    <div class="col-md-4 zhongyuan">
                        <select name="" id="">
                            <option>否</option>
                            <option>二七区</option>
                            <option>金水区</option>
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                        </select>
                        <label>治安乱点: </label>
                    </div>
                    <div class="col-md-4 zhongyuan">
                        <select name="" id="">
                            <option>未安装</option>
                            <option>二七区</option>
                            <option>金水区</option>
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                        </select>
                        <label>电子监控: </label>
                    </div>
                    <div class="col-md-4 zhongyuan">
                        <select name="" id="">
                            <option>张三</option>
                            <option>二七区</option>
                            <option>金水区</option>
                            <option>中原区</option>
                            <option>二七区</option>
                            <option>金水区</option>
                        </select>
                        <label>负责人名称: </label>
                    </div>
                </div>
            </div>
            <div class="anniu">
                <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search">&nbsp;</span>查询</button>
                <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>打印</button>

            </div>
        </form>
        <div class="bluebar">
        小区村社信息列表
        </div>
        <div class="tool">
            <a><img src="images/jia.png" alt=""> [新增]</a>
            <a><img src="images/eye.png" alt=""> [查看]</a>
            <a data-toggle="modal" data-target="#myModal"><img src="images/bi.png" alt="">  [编辑]</a>
            <a><img src="images/cha.png" alt=""> [删除]</a>
            <a><img src="images/xiazai.png" alt=""> [下载]</a>
        </div>
        <table border="1" class="table table-striped table-bordered table-hover liebiao">
            <tbody>
                <tr>
                    <th><input class="pianyi" type="checkbox"> 编号</th>
                    <th>所属网格</th>
                    <th>小区/社名称</th>
                    <th>治安乱点</th>
                    <th>电子监控</th>
                    <th>封闭情况</th>
                    <th>负责人</th>
                    <th>负责人电话</th>
                </tr>
                <tr>
                    <td><input class="pianyi" type="checkbox"> <span>1</span></td>
                    <td>$中原区碧沙岗社区网格一</td>
                    <td>碧沙岗家属院</td>
                    <td>否</td>
                    <td>未安装</td>
                    <td>全封闭</td>
                    <td>张三</td>
                    <td>15938515935</td>
                </tr>
                <tr>
                    <td><input class="pianyi" type="checkbox"> <span>1</span></td>
                    <td>$中原区碧沙岗社区网格一</td>
                    <td>碧沙岗家属院</td>
                    <td>否</td>
                    <td>未安装</td>
                    <td>全封闭</td>
                    <td>张三</td>
                    <td>15938515935</td>
                </tr>
                <tr>
                    <td><input class="pianyi" type="checkbox"> <span>1</span></td>
                    <td>$中原区碧沙岗社区网格一</td>
                    <td>碧沙岗家属院</td>
                    <td>否</td>
                    <td>未安装</td>
                    <td>全封闭</td>
                    <td>张三</td>
                    <td>15938515935</td>
                </tr>
                <tr>
                    <td><input class="pianyi" type="checkbox"> <span>1</span></td>
                    <td>$中原区碧沙岗社区网格一</td>
                    <td>碧沙岗家属院</td>
                    <td>否</td>
                    <td>未安装</td>
                    <td>全封闭</td>
                    <td>张三</td>
                    <td>15938515935</td>
                </tr>
                <tr>
                    <td><input class="pianyi" type="checkbox"> <span>1</span></td>
                    <td>$中原区碧沙岗社区网格一</td>
                    <td>碧沙岗家属院</td>
                    <td>否</td>
                    <td>未安装</td>
                    <td>全封闭</td>
                    <td>张三</td>
                    <td>15938515935</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pageb">
        <div class="yema">
            <button type="button" class="btn btn-primary btn-sm">首页</button>
            <button type="button" class="btn btn-primary btn-sm next">＜</button>
            <div class="pagelist">
                <div>1</div>
                <div>2</div>
                <div>3</div>
            </div>
            <button type="button" class="btn btn-primary btn-sm next">＞</button>
            <button type="button" class="btn btn-primary btn-sm">尾页</button>
        </div>
        <div class="total">
            共&nbsp;<span>1</span>&nbsp;页&nbsp;&nbsp;
            每页&nbsp;<span>8</span>&nbsp;条&nbsp;
            共&nbsp;<span>1</span>&nbsp;条
        </div>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="images/cha.png" alt=""></span></button>
        <h4 class="modal-title" id="myModalLabel">编辑小区/村社</h4>
      </div>
      <div class="modal-body">
        <div class="quyu">
            <div class="container-fluid shiyan">
                <div class="row test">
                    <div class="col-xs-4 one">
                        <label class="lineheight" for="">所属村社:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <select name="" id="bsg">
                            <option>中原区碧沙岗社区网格一</option>
                            <option>中原区碧沙岗社区网格二</option>
                            <option>中原区碧沙岗社区网格三</option>
                        </select>
                    </div>
                </div>
                <div class="row test">
                    <div class="col-xs-4 one">
                        <label class="lineheight" for="">小区/社名称:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <input class="xiaoqu" type="text">
                    </div>
                </div>
                <div class="row test">
                    <div class="col-xs-4 one">
                        <label class="tearea" for="">基本情况:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <textarea placeholder="请输入基本情况..." class="area"></textarea>
                    </div>
                </div>
                <div class="row test">
                    <div class="col-xs-4 one">
                        <label class="dzjk" for="">电子监控:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <input type="radio" checked="checked" name="watch" value="0">&nbsp;未安装&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="watch" value="1">&nbsp;已安装
                    </div>
                </div>
                <div class="row test">
                    <div class="col-xs-4 one">
                        <label class="dzjk" for="">封闭情况:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <input type="radio" checked="checked" name="fbqk" value="0">&nbsp;未封闭&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="fbqk" value="1">&nbsp;已封闭
                    </div>
                </div>
                <div class="row test">
                    <div class="col-xs-4 one">
                        <label class="dzjk" for="">治安乱点:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <input type="radio" checked="checked" name="zald" value="0">&nbsp;否&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="zald" value="1">&nbsp;是
                    </div>
                </div>
                <div class="row test">
                    <div class="col-xs-4 one">
                        <span class="xing">*</span>
                        <label class="lineheight" for="">小区/社负责人:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <input class="xiaoqu" type="text">
                    </div>
                </div>
                <div class="row test">
                    <div class="col-xs-4 one">
                        <span class="xing">*</span>
                        <label class="lineheight" for="">负责人电话:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <input class="xiaoqu" type="text">
                    </div>
                </div>
                <div class="row test">
                    <div class="col-xs-4 one">
                        <label class="lineheight" for="">小区位置:</label>
                    </div>
                     <div class="col-xs-8 two">
                        <span class="xing">小区位置</span>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">关闭</button>
      </div>
    </form>
  </div>
</div>
<script>
    detailResize()
    window.onresize= function(){
        // console.log(678)
        reSize()
        detailResize()
    }
    function detailResize(){
        console.log('deta')
            var height = $('.gridManager>div:eq(1)').height() - 70
            $('.detail').css('max-height', height + "px")
        
    }
    $('.shou').click(function(){
        $('.detail>form').slideToggle()
    })

</script>