<div class="s-xqcs">
    <div class="map">
        <img src="images/icon8.png" alt="">
        <span>首页</span> >
        <span>基础数据</span> >
        <span>房屋信息</span> >
        <span>小区村社</span>
    </div>
    <div class="detail">
        <div class="bluebar">
        信息搜索
        </div>
        
    </div>
    <div class="pageb">
        <div class="yema">
            
        </div>
        <div class="total">

        </div>
    </div>
    
</div>
<script>
    var height = $('.gridManager>div:eq(1)').height() - 60
    // console.log(height)
    $('.detail').outerHeight(height + "px")
</script>